.wrapper{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #33B6AE;

}

.navbar{
  //background-color: #33B6AE !important;
  background-color: white;
  //border: solid;
  min-height: 60px;
  //border-bottom: solid;
  //border-bottom-color: #C37B87;
  //border-bottom-width:2px;


  .navbar-nav li{
    margin: 0px 15px;
    cursor: pointer;
    color: #333;
    font-family: Caladea, serif;

    &:hover {
      color: #000;
    }
  }
}

hr{
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 0;
  background-color: #33B6AE !important;
  height: 2px;
  opacity:0.4;
}

@media screen and (max-width:990px) {
  .navbar-nav li {
    font-size: 17px;
  }
  img{
    width: 150px;
    height: 150px;
  }
}

@media screen and (min-width:990px) {
  .navbar-nav li {
    font-size: 25px;
    &:hover {
      transform: scale(1.2);
    }
  }
  img {
    width: 130px;
    height: 130px;
  }
}




