.wrapper{
  display: flex;
  flex-direction: column;
}

.navbar{
  //background-color: #33B6AE !important;
  background-color: white;
  //border: solid;
  min-height: 60px;
  //border-bottom: solid;
  //border-bottom-color: #C37B87;
  //border-bottom-width:2px;

  img{
    width: 100px;
    height: 100px;
  }


  .navbar-nav li{
    font-size: 20px;
    margin: 0px 15px;
    cursor: pointer;
    color: #333;
    font-family: Caladea, serif;

    &:hover {
      color: #000;
      transform: scale(1.2);
    }
  }
}

hr{
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 0;
  background-color: #33B6AE !important;
  height: 2px;
  opacity:0.4;
}

@media screen and (max-width:990px) {
  .navbar-nav li :hover {
      color: #000;
      transform: scale(1);
  }
}

