.wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;

  app-header{
    //position: sticky;
    top: 0;
    width: 100%;
    //overflow: hidden;
  }

  app-footer{
    width: 100%;
  }

  main{
    flex-grow: 1;
    overflow: auto;
  }
}
