<div class="container">
  <div class="row">
    <app-carousel [images]="images"
      [autoSlide]="true"
      >
    </app-carousel>
  </div>
  <div class="row " id="welcomeTextRow">
    <h1>Welcome to Emybijoux</h1>
  </div>
  <div class="row ">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor metus id magna viverra egestas. Morbi a tortor sit amet lorem pretium pellentesque. Aenean vel elementum dui, consequat imperdiet nisl. Vivamus viverra ac orci quis elementum. Nam feugiat lacinia enim a ultricies. Curabitur viverra justo a massa volutpat, nec euismod ex elementum. Vestibulum pharetra purus eget lacinia feugiat. In vitae velit ante. In sollicitudin lorem et augue posuere mattis. Vestibulum eleifend felis efficitur justo sodales faucibus. Donec quis ultrices augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum varius nunc eu dapibus dictum.

      Pellentesque placerat in sapien sit amet congue. Sed elit massa, ornare congue nulla quis, rutrum bibendum felis. Etiam non commodo est, in luctus risus. Fusce ut est id orci blandit ultricies. Phasellus venenatis vestibulum eros, pretium rutrum mi. Mauris tristique sem id nulla aliquet, ut imperdiet lorem accumsan. Maecenas aliquet pharetra elit, et porta purus pretium a. Vivamus sollicitudin fringilla viverra. Nullam id nibh feugiat nunc pulvinar tristique ac quis lacus. Fusce congue magna vitae urna pharetra mollis. Aenean risus leo, malesuada ut erat quis, hendrerit dignissim nulla. Donec mollis, dolor viverra iaculis ullamcorper, urna dolor tincidunt ligula, ut fringilla urna metus non magna. Fusce blandit enim dolor, at laoreet ex viverra nec. Nam in congue libero. Morbi nec pretium risus. Suspendisse varius diam vel elit hendrerit commodo.

      Aenean auctor, urna eu dapibus mollis, felis libero varius sem, sed dictum purus ante venenatis magna. In scelerisque, augue sed elementum molestie, nibh eros semper ex, in dictum quam dui suscipit risus. Pellentesque a ligula vel risus feugiat condimentum. Sed risus magna, hendrerit quis consequat ut, feugiat in arcu. Nunc tristique auctor lobortis. Proin erat neque, bibendum et tincidunt nec, sollicitudin sed neque. Ut eget laoreet erat. Pellentesque pellentesque purus sed bibendum ullamcorper. Nullam lobortis pharetra neque, id commodo magna dignissim sit amet. Nulla facilisi.
  </div>
</div>
